
.task-containers-wrapper{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
.add-container-btn{
  align-self: flex-end;
  border-radius: 20px;
  height: 32px;
  width: 30px;
  font-size: 20px;
  margin: 5px 0 10px 10px;
  border: none;
  background-color: dodgerblue;
}
.add-container-btn:focus{
  outline:0;
}
.add-container-btn:hover{
  background-color: rgb(88, 171, 255);
  cursor: pointer;
}