body{
  background-color: #017abf; 
}
.parent-container{
  
  padding: 30px 0px 10px 10px;
}
.task-containers-wrapper{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}
.add-container-btn{
  align-self: flex-end;
  border-radius: 20px;
  height: 32px;
  width: 30px;
  font-size: 20px;
  margin: 0px 0 10px 0px;
  border: none;
  background-color: white;
}

.add-container-btn:focus{
  outline:0;
}
.add-container-btn:hover{
  background-color: #e7ecee;
  cursor: pointer;
}